html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

img {
  display: block;
  max-width: 80px;
  border: 5px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* GRID GERAL */

.container {
  display: grid;
  grid-template-columns: minmax(50px, 1fr) minmax(50px, 1fr) 4fr;
  grid-template-areas:
    'menu menu menu menu'
    'aside aside content content'
    'footer footer footer footer';
}

/* HEADER */
.menu-bg {
  grid-area: menu;
  background: linear-gradient(135deg, #fddff9, #d385c8);
  padding: 20px;
}

.menu-bg nav ul {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.menu-bg nav a {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 15px;
  display: block;
  color: #fff;
  font-size: 1.125em;
  padding: 10px;
  transition: 0.1s;
}

.menu-bg nav a:hover {
  background: #fff;
}

.menu-bg img {
  width: 40px;
}

.menu-bg li {
  padding: 10px;
}

/* PROJETOS */

.projects {
  grid-area: aside;
  background: #fafbfc;
  padding: 30px;
}

.projects h3 {
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}

.projects li {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 20px auto;
  padding: 5px;
  background: #fff;
  box-shadow: 3px 3px 5px rgba(44, 44, 44, 0.15);
  transition: 0.3s ease;
}

.projects li:hover {
  background: #fddff9;
}

/* CONTEÚDO */

.content {
  grid-area: content;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content p {
  font-size: 1.2em;
  line-height: 1.6;
  color: rgba(0, 0, 0, 0.8);
}

.content p a {
  color: rgba(0, 0, 0, 0.8);
}

.content img {
  max-width: 600px;
  padding: 15px;
}

.hi-container {
  text-align: center;
}

.btn {
  padding: 15px;
  background: linear-gradient(135deg, #d385c8, #ca6dbe);
  border-radius: 10px;
}

.knowledge h2 {
  text-align: center;
  margin-bottom: 15px;
}

.course h3 {
  padding: 10px;
  border-bottom: 1px solid rgba(44, 44, 44, 0.15);
}

.course-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.bg-light {
  background: #fddff9;
}

.card {
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
  padding: 30px;
  margin-bottom: 30px;
}

.card + .card {
  margin-left: 20px;
}

.lang {
  padding: 10px;
}

/* FOOTER */

.footer {
  grid-area: footer;
  background: linear-gradient(135deg, #fddff9, #d385c8);
}

.footer p {
  color: #fff;
  font-weight: 600;
  padding-top: 20px;
  text-align: center;
}

/* TECNOLOGIAS */

.techs {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.techs img {
  padding: 10px;
  height: 90px;
}
